.intro {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	position: relative;

	&__title {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		font-weight: 300;
		font-size: 78px;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		line-height: 54px;
		padding-top: 104px;
		padding-bottom: 135px;
		transform: translateX(-7px);

		@include fluid-text(78, 52)
	}

	&__button {
		padding-inline: 30px;
	}

	&__image {
		position: absolute;
		height: 567px;
		right: 0;
		top: 0;
	}
}