.tooltip {
	--tooltip-circle-height: 40px;
	@include square(var(--tooltip-circle-height));
	background-color: red;
	position: absolute;
	top: 10%;
	left: 10%;
	background-color: var(--color-grey-transparent);
	border-radius: 50%;
	border: 1px solid var(--color-white);
	cursor: pointer;

	&::after {
		content: '';
		border-radius: 50%;
		background-color: var(--color-white);
		@include square(18px);
		@include abs-center;
	}

	&--active {
		&::after {
			@include square(10px);
		}
	}

	&__inner {
		position: absolute;
		background-color: var(--color-white);
		border-radius: 10px;
		width: 360px;
		height: 200px;
		z-index: 1;
		top: calc(var(--tooltip-circle-height) + 16px);
		left: -370%;
		box-shadow: 0 2px 10px black;
		// display: none;

		&::after {
			position: absolute;
			content: '';
			border: 9px solid transparent;
			border-bottom: 9px solid var(--color-white);
			top: -17px;
			left: var(--left, 152px);
		}
	}
}